body {
    background-color: darkslateblue;
    color: whitesmoke;
    overflow-x: hidden;
    padding: 0 40px;
}

body .rtl{
    direction: rtl;
    float: left;
}

img{
    width: 100px
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right:10px;
    background-color: #111;
    padding: 10px;
}
.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
}
.my-modal {
    background-color: #111;
    padding: 10px;
    position: absolute;
    top: 0px;
    left: 150%;
    height: 80vh;
    min-width: 300px;
    text-align: center;
}
.my-modal.open {
    left: 50%;
    transition: left .5s;
}
.my-modal h3{
    color:pink;
    text-decoration: overline;
    text-transform: capitalize;
}
.my-modal h4 span{
    color:pink;
}
.my-modal > p {
    text-align: left;
}

.pages{
    margin: 0;
    list-style-type: none;
    display: flex;
}

.pages li{
    width: 30px;
    padding: 5px;
    text-align: center;
    background-color: rgb(56, 127, 103);
    border: 1px groove aqua;
    cursor: pointer;
}